#game{

    width:100%;

    max-width:900px;

    margin:auto;

    padding:15px;

    text-align:center;

}

/* ===========================
   Terugknop
=========================== */

.back-button{
    -webkit-tap-highlight-color: transparent;
    position:absolute;

    top:20px;
    left:20px;

    width:65px;
    height:65px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:white;

    border-radius:50%;

    text-decoration:none;

    color:#333;

    font-size:2rem;

    font-weight:bold;

    box-shadow:0 6px 15px rgba(0,0,0,.25);

    transition:.2s;

    z-index:1000;

}

.back-button:hover{

    transform:scale(1.08);

}
/* ===========================
   Logo
=========================== */

.logo{

    position:fixed;

    top:25px;

    left:50%;

    transform:translateX(-50%);

    font-size:2rem;

    font-weight:bold;

    color:white;

    text-shadow:2px 2px 8px rgba(0,0,0,.25);

    z-index:1000;

    pointer-events:none;

}

.subtitle{

    font-size:1.4rem;

    margin:20px 0 30px;

    font-weight:bold;

}

#pizza-area{

    display:flex;

    justify-content:center;

    margin-bottom:40px;

}

#pizza{

    width:min(75vw,420px);

    aspect-ratio:1;

    border-radius:50%;

    background:#F4D28A;

    border:14px solid #C98A45;

    position:relative;

    box-shadow:0 8px 20px rgba(0,0,0,.2);

}

.topping{

    position:absolute;

    font-size:42px;

    transform:translate(-50%,-50%);

    user-select:none;

    pointer-events:none;

}

#ingredients{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:15px;

    max-width:600px;

    margin:auto;

}

.ingredient{

    background:white;

    border:none;

    border-radius:18px;

    padding:18px;

    font-size:42px;

    cursor:pointer;

    transition:.2s;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.ingredient:hover{

    transform:scale(1.05);

}

.ingredient:active{

    transform:scale(.95);

}

@media(max-width:700px){

    #pizza{

        width:90vw;

    }

    .topping{

        font-size:30px;

    }

    .ingredient{

        font-size:30px;

        padding:14px;

        border-radius:14px;

    }

    .subtitle{

        font-size:1.1rem;

    }

}
