/* =====================================
   Ioki Games - Fruit
===================================== */

body{

    overflow:hidden;

}

#game{

    position:relative;

    width:100vw;
    height:100vh;

    overflow:hidden;

}

.back-button{

    -webkit-tap-highlight-color: transparent;
   
    position:absolute;

    top:20px;
    left:20px;

    width:65px;
    height:65px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:white;

    border-radius:50%;

    text-decoration:none;

    color:#333;

    font-size:2rem;

    font-weight:bold;

    box-shadow:0 6px 15px rgba(0,0,0,.25);

    transition:.2s;

    z-index:1000;

}

.back-button:hover{

    transform:scale(1.08);

}
/* ===========================
   Logo
=========================== */

.logo{

    position:fixed;

    top:25px;

    left:50%;

    transform:translateX(-50%);

    font-size:2rem;

    font-weight:bold;

    color:white;

    text-shadow:2px 2px 8px rgba(0,0,0,.25);

    z-index:1000;

    pointer-events:none;

}

/* ---------------------------
   Fruit
--------------------------- */

#fruits{

    position:absolute;

    inset:0;

}

.fruit{

    position:absolute;

    width:60px;

    user-select:none;
    -webkit-user-drag:none;
    pointer-events:none;

}

/* ---------------------------
   Basket
--------------------------- */

#basket{

    position:absolute;

    bottom:30px;
    left:50%;

    transform:translateX(-50%);

    width:140px;

    z-index:100;

    cursor:grab;

    user-select:none;
    -webkit-user-drag:none;
    -webkit-tap-highlight-color:transparent;

}

#basket:active{

    cursor:grabbing;

}

/* ---------------------------
   Mobiel
--------------------------- */

@media(max-width:700px){

    .fruit{

        width:45px;

    }

    #basket{

        width:100px;

        bottom:20px;

    }

}
