body{
    overflow:hidden;
}

#game{
    width:100vw;
    height:100vh;
    position:relative;
}

.balloon{

    position:absolute;

    font-size:70px;

    cursor:pointer;

    user-select:none;

    animation:floatUp linear forwards;

}

@keyframes floatUp{

    from{
        transform:translateY(120vh);
    }

    to{
        transform:translateY(-150px);
    }

}

.back-button{
    position:fixed;

    top:20px;
    left:20px;

    background:#ffffff;

    color:#333;

    text-decoration:none;

    font-size:1.2rem;
    font-weight:bold;

    padding:14px 22px;

    border-radius:18px;

    box-shadow:0 6px 12px rgba(0,0,0,.2);

    z-index:1000;

    transition:.2s;
}

.back-button:hover{
    transform:scale(1.05);
}

.back-button:active{
    transform:scale(.95);
}
h1{
    margin-top:80px;
}