/* =====================================
   Ioki Games - Sorteren
===================================== */

body{

    overflow:hidden;

}

#game{

    position:relative;

    width:100vw;
    height:100vh;

}

/* ---------------------------
   Terugknop
--------------------------- */

.back-button{

    -webkit-tap-highlight-color:transparent;

    position:absolute;

    top:20px;
    left:20px;

    width:65px;
    height:65px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:white;

    border-radius:50%;

    text-decoration:none;

    color:#333;

    font-size:2rem;

    font-weight:bold;

    box-shadow:0 6px 15px rgba(0,0,0,.25);

    z-index:1000;

}

/* ---------------------------
   Logo
--------------------------- */

.logo{

    position:fixed;

    top:25px;

    left:50%;

    transform:translateX(-50%);

    pointer-events:none;

    z-index:1000;

}

/* ---------------------------
   Voorwerp
--------------------------- */

#object-container{

    position:absolute;

    left:50%;
    top:38%;

    transform:translate(-50%,-50%);

}

#object{

    width:160px;
    height:160px;

    object-fit:contain;

    touch-action:none;

    user-select:none;
    -webkit-user-drag:none;

    cursor:grab;

}

/* ---------------------------
   Manden
--------------------------- */

#baskets{

    position:absolute;

    left:50%;
    bottom:50px;

    transform:translateX(-50%);

    display:flex;

    gap:35px;

}

.basket{

    width:140px;
    height:140px;

    border-radius:30px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:4rem;

    background:white;

    box-shadow:0 8px 20px rgba(0,0,0,.2);

}

.red{

    border:8px solid #ef5350;

}

.yellow{

    border:8px solid #fdd835;

}

.blue{

    border:8px solid #42a5f5;

}

/* ---------------------------
   Mobiel
--------------------------- */

@media(max-width:700px){

    #object{

        width:110px;
        height:110px;

    }

    #baskets{

        gap:15px;

        width:95%;

        justify-content:space-between;

    }

    .basket{

        width:95px;
        height:95px;

        border-radius:22px;

        font-size:2.8rem;

        border-width:6px;

    }

}
