/* ===========================
   Blokken
=========================== */

body{

    overflow:hidden;

}

#game{

    position:relative;

    width:100vw;
    height:100vh;

    overflow:hidden;

}

/* Matter.js canvas */

canvas{

    position:absolute;

    inset:0;

    width:100%;
    height:100%;

    z-index:10;

}


.back-button{
    -webkit-tap-highlight-color: transparent;
    position:absolute;

    top:20px;
    left:20px;

    width:65px;
    height:65px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:white;

    border-radius:50%;

    text-decoration:none;

    color:#333;

    font-size:2rem;

    font-weight:bold;

    box-shadow:0 6px 15px rgba(0,0,0,.25);

    transition:.2s;

    z-index:1000;

}

.back-button:hover{

    transform:scale(1.08);

}
/* ===========================
   Logo
=========================== */

.logo{

    position:fixed;

    top:25px;

    left:50%;

    transform:translateX(-50%);

    font-size:2rem;

    font-weight:bold;

    color:white;

    text-shadow:2px 2px 8px rgba(0,0,0,.25);

    z-index:1000;

    pointer-events:none;

}

/* Gras */

#ground{

    position:absolute;

    bottom:0;
    left:0;

    width:100%;
    height:120px;

    background:#74c365;

    border-top:5px solid #63af56;

    z-index:5;

}

/* Mobiel */

canvas{

    -webkit-tap-highlight-color:transparent;

    touch-action:none;

}

/* Logo en terugknop erboven */

.logo,
.back-button{

    z-index:1000;

}
